[Desktop Entry]
Encoding=UTF-8
Name=Link to Exist - Google Drive
Type=Link
URL=https://drive.google.com/drive/u/2/folders/1QIXxQ1DQWmDmCnITlN2cYJErjVJO5X3h
Icon=text-html
