[Desktop Entry]
Encoding=UTF-8
Name=Link to almafqud - Google Drive
Type=Link
URL=https://drive.google.com/drive/u/2/folders/1QtqzzETzfEE920YxTRD24AoyShDa6EKe
Icon=text-html
