[Desktop Entry]
Encoding=UTF-8
Name=Link to React App
Type=Link
URL=https://nova-vr-tests.github.io/static_assets/gantt/index.html
Icon=text-html
Name[en_US]=Link to Gantt
